In [2]:
import pandas as pd
import numpy as np
import ast

In [6]:
movies = pd.read_csv("./Files/tmdb_5000_movies.csv")
credits = pd.read_csv("./Files/tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
merged = movies.merge(credits, on="title").drop("id", axis=1)

In [6]:
merged.head(1)

,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
# Columns to keep = ["movie_id", "genres", "keywords", "title", "overview", "cast", "crew"]

merged = merged[["movie_id", "genres", "keywords", "title", "overview", "cast", "crew"]]

In [8]:
merged.duplicated().sum()

np.int64(0)

In [9]:
merged.isna().sum()

movie_id    0
genres      0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [10]:
merged.dropna(inplace=True)

In [11]:
def convertToList(obj):
    lst = list()
    for i in ast.literal_eval(obj):
        lst.append(i['name'])
    return lst

In [12]:
merged['genres'] = merged['genres'].apply(convertToList)

In [13]:
def convertKeywords(obj):
    lst = list()
    for i in ast.literal_eval(obj):
        lst.append(i['name'])
    return lst

In [14]:
merged['keywords'] = merged['keywords'].apply(convertKeywords)

In [15]:
def convertCast(obj):
    lst1 = ast.literal_eval(obj)
    lst2 = list()
    for i in range(min(3, len(lst1))):
        lst2.append(lst1[i]['character'])
    return lst2

In [16]:
merged['cast'] = merged['cast'].apply(convertCast)

In [17]:
def convertCrew(obj):
    lst1 = ast.literal_eval(obj)
    lst2 = list()
    for i in lst1:
        if i['job'] == 'Director':
            lst2.append(i['name'])
            break
    return lst2

In [18]:
merged['crew'] = merged['crew'].apply(convertCrew)

In [19]:
merged['overview'] = merged['overview'].apply(lambda x: x.split())

In [20]:
merged.head(1)

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Jake Sully, Neytiri, Dr. Grace Augustine]",[James Cameron]

In [21]:
merged.sample(10)

,movie_id,genres,keywords,title,overview,cast,crew
2966,24137,"[Drama, Comedy, Romance]",[],An Ideal Husband,"[Sir, Robert, Chiltern, is, a, successful, Gov...","[Lady Gertrude Chiltern, Miss Mabel Chiltern, ...",[Oliver Parker]
2086,1946,"[Action, Thriller, Science Fiction, Horror]","[video game, hacker, bodyguard, pop star, virt...",eXistenZ,"[A, game, designer, on, the, run, from, assass...","[Allegra Geller, Ted Pikul, Kiri Vinokur]",[David Cronenberg]
227,37834,"[Action, Comedy]","[spy, airport, gas station, garage, pilot, cha...",Knight and Day,"[A, fugitive, couple, goes, on, a, glamorous, ...","[Roy Miller, June Havens, Fitzgerald]",[James Mangold]
2101,1584,"[Comedy, Music]","[rock and roll, rock, high school, music band]",School of Rock,"[Fired, from, his, band, and, hard, up, for, c...","[Dewey Finn, Rosalie Mullins, Ned Schneebly]",[Richard Linklater]
3037,103731,[Drama],"[river, snake, arkansas, fugitive, river boat]",Mud,"[Two, teenage, boys, encounter, a, fugitive, a...","[Mud, Ellis, Neckbone]",[Jeff Nichols]
4090,9662,"[Adventure, Animation, Comedy, Drama]","[france, kidnapping, boy, biker, tour de franc...",The Triplets of Belleville,"[When, her, grandson, is, kidnapped, during, t...","[Les Triplettes (voice), Les Triplettes (voice...",[Sylvain Chomet]
518,332,"[Action, Adventure, Comedy, Family]",[gadget],Inspector Gadget,"[John, Brown, is, a, bumbling, but, well-inten...","[Inspector Gadget / Robo Gadget / John Brown, ...",[David Kellogg]
3956,79940,[Comedy],"[restaurant, wolf, shopping mall, filmmaker, b...",Tim and Eric's Billion Dollar Movie,"[Two, guys, get, a, billion, dollars, to, make...","[, , Taquito]",[Tim Heidecker]
2624,36047,[Thriller],[woman director],The In Crowd,"[A, mentally, disturbed, young, woman, takes, ...","[Brittany, Adrien, Matt]",[Mary Lambert]
2525,10765,[Comedy],"[paris, role of women]",Private Benjamin,"[A, sheltered, young, high, society, woman, jo...","[Pvt. Judy Benjamin - Judy Goodman, Capt. Dore...",[Howard Zieff]

In [22]:
merged['genres'] = merged['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
merged['keywords'] = merged['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
merged['overview'] = merged['overview'].apply(lambda x: [i.replace(" ", "") for i in x])
merged['cast'] = merged['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
merged['crew'] = merged['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

In [23]:
merged.sample(5)

,movie_id,genres,keywords,title,overview,cast,crew
4043,13569,"[Drama, Horror, Thriller]",[],Thr3e,"[Innocent, lives, hang, on, the, whim, of, an,...","[KevinParson, JenniferPeters, Slater]",[RobbyHenson]
3752,40494,[Drama],"[circus, trapezeartist]",Trapeze,"[A, pair, of, men, try, to, perform, the, dang...","[MikeRibble, TinoOrsini, Lola]",[CarolReed]
210,415,"[Action, Crime, Fantasy]","[doublelife, dccomics, dualidentity, crimefigh...",Batman & Robin,"[Along, with, crime-fighting, partner, Robin, ...","[BruceWayne/Batman, DickGrayson/Robin, Dr.Vict...",[JoelSchumacher]
2837,10437,"[Comedy, Family, Fantasy, Drama]","[holiday, future, musical, past, scrooge, chri...",The Muppet Christmas Carol,"[A, retelling, of, the, classic, Dickens, tale...","[EbenezerScrooge, GhostofChristmasPresent(perf...",[BrianHenson]
8,767,"[Adventure, Fantasy, Family]","[witch, magic, broom, schoolofwitchcraft, wiza...",Harry Potter and the Half-Blood Prince,"[As, Harry, begins, his, sixth, year, at, Hogw...","[HarryPotter, RonWeasley, HermioneGranger]",[DavidYates]

In [24]:
merged['tags'] = merged['overview'] + merged['genres'] + merged['keywords'] + merged['cast'] + merged['crew']

In [25]:
df = merged[['movie_id', 'title', 'tags']]
df.sample(5)

,movie_id,title,tags
2108,13497,Drumline,"[A, fish-out-of-water, comedy, about, a, talen..."
606,201088,Blackhat,"[A, man, is, released, from, prison, to, help,..."
3556,63006,Dum Maaro Dum,"[We, hurtle, into, the, bylanes,, beach, shack..."
69,44826,Hugo,"[Hugo, is, an, orphan, boy, living, in, the, w..."
3794,44945,Trust,"[A, suburban, family, is, torn, apart, when, f..."

In [26]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

/tmp/ipykernel_9987/949442192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [27]:
df['tags'] = df['tags'].apply(lambda x: x.lower())

/tmp/ipykernel_9987/4276611149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: x.lower())

In [28]:
df.sample(5)

,movie_id,title,tags
4036,1698,Anatomy,medical student paula henning wins a place at ...
1968,11635,Old School,three friends attempt to recapture their glory...
2818,3049,Ace Ventura: Pet Detective,he's ace ventura: pet detective. jim carrey is...
1490,72387,Safe,after a former elite agent rescues a 12-year-o...
3431,10496,Bats,genetically mutated bats escape and it's up to...

**Appling Steming of the Tags Column to replace [Love, Loving, Lover] -> [Love, Love, Love]**

In [29]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [30]:
def steming(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [31]:
df['tags'] = df['tags'].apply(steming)

/tmp/ipykernel_9987/816944057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(steming)

**Converting the Tags in Text vectorization b using Bag of words of technique.**

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [33]:
vectors = cv.fit_transform(df['tags']).toarray()

In [34]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [35]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [36]:
similarity[0]

array([1.        , 0.08740748, 0.08740748, ..., 0.04499213, 0.        ,
       0.        ], shape=(4806,))

In [37]:
def recommendMovie(movie: str):
    index = df[df['title'] == movie].index[0]
    distanceArr = list(enumerate(similarity[index]))
    sort = sorted(distanceArr, reverse=True, key=lambda x: x[1])[0:6]
    resId = [(df['title'][i[0]], movies['homepage'][i[0]]) for i in sort]
    return resId

In [49]:
movie = input("Enter Movie Name:").title()
res = recommendMovie(movie)
res

[('The Avengers', 'http://marvel.com/avengers_movie/'),
 ('Iron Man 3', 'http://marvel.com/ironman3'),
 ('Avengers: Age of Ultron',
  'http://marvel.com/movies/movie/193/avengers_age_of_ultron'),
 ('Iron Man', 'http://www.ironmanmovie.com/'),
 ('Captain America: Civil War', 'http://marvel.com/captainamericapremiere'),
 ('Captain America: The First Avenger', 'http://captainamerica.marvel.com/')]

In [39]:
import pickle

with open('dataset_and_similarity.pkl', 'wb') as file:
    pickle.dump((df, similarity, movies), file)

In [48]:
df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [10]:
movies[['original_title', 'homepage']]

,original_title,homepage
0,Avatar,https://www.imdb.com/title/tt0499549/
1,Pirates of the Caribbean: At World's End,https://www.imdb.com/title/tt0325980/
2,Spectre,https://www.imdb.com/title/tt2379713/
3,The Dark Knight Rises,http://www.thedarkknightrises.com/
4,John Carter,http://movies.disney.com/john-carter
...,...,...
4798,El Mariachi,NaN
4799,Newlyweds,NaN
4800,"Signed, Sealed, Delivered",http://www.hallmarkchannel.com/signedsealeddel...
4801,Shanghai Calling,http://shanghaicalling.com/
4802,My Date with Drew,NaN